{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
  <div class="page-banner overlay-dark bg-image" style="background: url(/static/img/about.jpeg)">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <h1 class="text-uppercase">About Us</h1>
        <p>Welcome to our company</p>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="who-section">
    <div class="container">

      <div class="who-bg wow zoomIn">
        <div class="row  d-flex justify-content-center align-items-center ">

          <div class="col-12" >
            <h2>Who Are We</h2>
            <p>Established in 2011, Myanmar-based United Group is a spearheading and diversified group with its core business in the import and export sector. Over the past decade, the Group has built up an established track record in operational excellence and an extensive network in undertaking and completing numerous trading initiatives and economic development throughout Myanmar.</p>
<br>
            <p>Many of our activities and projects have pioneered the standards of safety and advancement of the trading and finance sector in Myanmar and made lasting contributions to the country and its people.</p>
          </div>

        </div>
      </div>


    </div>
  </div>


 <div class="page-section pb-0">
    <div class="container">
      <h1 class="text-center wow fadeInUp mb-4">Our Missions</h1>

      <div class="mission-bg wow zoomIn">
        <div class="row  d-flex justify-content-center align-items-center">

          <div class="col-12 col-lg-6 col-md-12 " align="center">
            <img src={% static "img/about_mission_1.png" %} class="mission-img" alt="about_mission_1" >
          </div>
          <div class="col-12 col-lg-6 col-md-12 service-align" >
            <h2 style="font-weight: bold;">COMMUNITY</h2>
            <p>Achieving the best possible quality in the products we handle, profitable growth, operational and organizational excellence without compromising from our values and business ethics.</p>
          </div>

        </div>
      </div>

      <div class="mission-bg wow zoomIn">
        <div class="row  d-flex justify-content-center align-items-center flex-column-reverse flex-lg-row">

          <div class="col-12 col-lg-6 col-md-12 service-align-right" style="text-align: right;">
            <h2 style="font-weight: bold;">AFFORDABILITY</h2>
            <p>Perceiving customer needs at utmost level by providing them on-time deliveries, flexibility in sourcing, competitive prices and customized solutions for unique needs.</p>
          </div>

          <div class="col-12 col-lg-6 col-md-12 " align="center">

            <img src={% static "img/about_mission_2.png"%} class="mission-img" alt="about_mission_2">
          </div>

        </div>
      </div>

      <div class="mission-bg wow zoomIn">
        <div class="row  d-flex justify-content-center align-items-center">

          <div class="col-12 col-lg-6 col-md-12 " align="center">
            <img src={% static "img/about_mission_3.png"%} class="mission-img" alt="about_mission_3">
          </div>

          <div class="col-12 col-lg-6 col-md-12 service-align-right" >
            <h2 style="font-weight: bold;">STANDARDS</h2>
            <p>Ensuring attentive, effective and proactive customer service and personalized attention to our customers, right up to the distribution of our products to our valued end-users.</p>
          </div>

        </div>
      </div>


    </div>
  </div>

  <div class="page-section mission-body mt-0 pt-0">
    <div class="container">
      <div class="row justify-content-center">
       
        
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-mission ">
                <div class="header p-3 m-2">
                  <img src={% static "img/about_mission_4png.png"%} alt="about_mission_4">
                  
                </div>
                <div class="body">
                  <p class="text-xl mb-4">We ensure careful handling of our materials and products, focusing on the quality of packaging and smooth transportation at prompt delivery hours.</p>
                  
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-mission ">
                <div class="header p-3 m-2">
                  <img src={%static "img/about_mission_5.png"%} alt="about_mission_5">
                  
                </div>
                <div class="body">
                  <p class="text-xl mb-4">United Group also pursues excellence in the private property construction economy, creating condominium projects and housing ones alike</p>
                
                </div>
              </div>
            </div>
    
            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
              <div class="card-mission  ">
                <div class="header p-3 m-2">
                  <img src={%static "img/about_mission_6.png"%} alt="about_mission_6">
                  
                </div>
                <div class="body">
                  <p class="text-xl mb-4">With much experience in the field, United Group’s construction has a positive impact on government construction, gaining a leading name in the sector.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  <div class="container-fluid counterup bg-light min-vh-50">
    <div class="container">
      <div class="row py-4 countdown-nav justify-content-center align-items-center my-4">
        <div class="col-12 col-lg-3">
          
            <h2> <b> Some Numbers </b></h2>
            <p class="text-grey">The numbers that define us</p>
         
  
        </div>
  
        <div class="col-12 col-md-6 col-lg-3">
          <div class="d-flex align-items-center justify-content-start">
            <span class="counter-up"> 250</span> 
            <p>Million USD Annual Turnover</p>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-3">
          <div class="d-flex align-items-center justify-content-start">
             <span class="counter-up"> 450</span>
            <p>Permanent Staff</p>
          </div>
        </div>
  
        <div class="col-12 col-md-6 col-lg-3">
          <div class="d-flex align-items-center justify-content-start">
            <span class="counter-up"> 5,000 </span> 
            <p>Associate Staff</p>
          </div>
        </div>
       
  
      </div>
    </div>
  </div>

  <div class="who-section">
    <div class="container">

      <div class="who-bg wow zoomIn">
        <div class="row  d-flex justify-content-center align-items-center ">

          <div class="col-12" >
            <div class="text-center">
              <img src={% static "img/world-map.png"%} class="world-map" alt="world-map">
            </div>
            <div class="p-4">
              <p class="text-xl mb-0">Create A Supply Chain That Meets Potential Future Demands</p>
            <p class="text-xl mb-0">Achieve International Status Through Demonstration Of Integrity & Principles Whilst Ensuring Quality Of Product & Service
            </p>
            <p class="text-xl mb-0">Cover An Economic Network Throughout Myanmar, Building A International Gateway Into Myanmar’s Volatile Market
            </p>
            </div>

        </div>
      </div>


    </div>
  </div>
  </div>

  <div class="page-section bg-light">
    <div class="container">
      <h1 class="text-center wow fadeInUp mb-4">Our Strategy</h1>
      <div class="row justify-content-center">
      
            
        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission ">
            <div class="header p-3 m-2">
              <img src={%static "img/about_mission_4png.png"%} alt="about_mission_4">
              
            </div>
            <div class="body body-p">
              <h3 class="" style="text-align: center; font-weight: bold; color: #00D9A5;">Quality</h3>
              <p class="text-xl mb-4">Valuing the quality of our manufactured products and customized services, aiming to create a long-term relationship with each and every customer that we encounter.</p>
              
            </div>
          </div>
        </div>

            <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission">
            <div class="header p-3 m-2">
              <img src={%static "img/about_mission_5.png"%} alt="about_mission_4">
              
            </div>
            <div class="body body-p">
              <h3 class="" style="text-align: center; font-weight: bold; color: #00D9A5;">Technology</h3>
              <p class="text-xl mb-4">Applying technological advantage and technical expertise to our advantage, ensuring efficiency, intense analysis, effective data recording and prompt working procedures for customer satisfaction.</p>
              
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission ">
            <div class="header p-3 m-2">
              <img src={%static "img/about_mission_6.png"%} alt="about_mission_4">
              
            </div>
            <div class="body body-p">
              <h3 class="" style="text-align: center; font-weight: bold; color: #00D9A5;">Expansion</h3>
              <p class="text-xl mb-4">Always seeking market opportunities to expand into, analyzing customer tendencies and national policies. We blend innovation with precise data to boost our revenue and our sales.</p>
              
            </div>
          </div>
        </div>

          </div>
        </div>
      </div>
  
<script>
  $('.counter-up').counterUp({
  delay: 10,
  time: 1000
});
</script>
{% endblock %}