{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--cut here for base-->

  <div class="page-banner overlay-dark bg-image" style="background-image: url(/static/img/contact.jpeg);" >
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <h1 class="text-uppercase">Contact Us</h1>
        <p>Request free consultation</p>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp mb-4">Get in Touch</h1>
      
        <div class="formbg">
          <div class="text-color">
            <p> <a href="tel:+9595041934"> <i class="fas fa-phone-volume"></i> +9595041934</a> </p>
            <p> <a href="mailto:info@unitedgroup.com.mm"> <i class="fas fa-envelope-open-text"></i> management2023@gmail.com</a> </p>
              <p> <i class="fas fa-map-marked-alt"></i> No. (127), Ground Floor, 21st Street, Latha Township, Yangon, Myanmar</p>
            </div>
         
      <form class="contact-form mt-5">
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Name</label>
            <input type="text" id="fullName" class="form-control" placeholder="Full name..">
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="emailAddress">Email</label>
            <input type="text" id="emailAddress" class="form-control" placeholder="Email address..">
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="message">Message</label>
            <textarea id="message" class="form-control" rows="8" placeholder="Enter Message.."></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Send Message</button>
      </form>
    </div>
    </div>
  </div>

  <div class="wow">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d61099.15432061426!2d96.173091!3d16.841374!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe1437f3a6f4a191e!2sUnited%20Group%20of%20Trading%20Company%20Limited!5e0!3m2!1sen!2sus!4v1631688250134!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
  </div>
       
      </div>
    </div>
  </div> <!-- .banner-home -->
{% endblock content %}