{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


  <div class="page-banner overlay-dark bg-image" style="background-image: url(/static/img/trading_cover.jpeg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <h1 class="text-uppercase">United Group of Trading</h1>
        <p>Since 2011</p>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->


  <div class="page-section bg-light">
    <div class="container">
      <h1 class="text-center wow fadeInUp mb-4">Pruduct that we process</h1>
      <div class="row justify-content-center">


        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission ">
            <div class="header p-3 m-2">
              <img src={% static "img/trading_product_1.jpeg"%} alt="trading_product_1">

            </div>
            <div class="body body-p">
              <h3 class="" style="text-align: center; font-weight: bold; color: #00D9A5;">Automobiles</h3>
              <p class="text-xl mb-4">The company imports as well as produces brand new cars and distributes them
                throughout Myanmar. The company also imports used cars, automotive parts and operates a large battery
                distribution network.</p>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission">
            <div class="header p-3 m-2">
              <img src={% static 'img/trading_product_2.jpeg' %} alt="trading_product_2">

            </div>
            <div class="body body-p">
              <h3 class="" style="text-align: center; font-weight: bold; color: #00D9A5;">Agricultural Products</h3>
              <p class="text-xl mb-4">The company exports agricultural products, mainly rice, yellow maize and sugar.
                There are two major rice mills in operation, running to produce quality rice for distribution within
                Myanmar and for export.</p>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission ">
            <div class="header p-3 m-2">
              <img src={% static "img/trading_product_3.jpeg"%} alt="trading_product_3">

            </div>
            <div class="body body-p">
              <h3 class="" style="text-align: center; font-weight: bold; color: #00D9A5;">Construction Materials</h3>
              <p class="text-xl mb-4">The company imports steel and construction materials that are not readily
                available here in Myanmar. Tractors and other heavy machinery are also imported by the company.</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="container-fluid" style="background-image: url(/static/img/automobile_trading.png);">
    <div class="overlay-section automobile ">
      <div class="container text-center wow fadeInUp">
        <h1 class="text-uppercase">automobiles</h1>
        <div class="row ">
          <div class="col-sm-6 col-lg-6 py-3">
            <div class="left-about d-flex align-items-center justify-content-center" style="">
              <span><img src={%static "img/trading_assembler.png"%} alt="trading_assembler"> </span>
              <span class="text-white">
                <h2><b>Assembler of Soueast in Myanmar</b></h2>
              </span>
            </div>
          </div>

          <div class="col-sm-6 col-lg-6 py-3">
            <div class="left-about d-flex align-items-center justify-content-center" style="">
              <span> <img src={%static "img/trading_repair.png"%} alt="trading_repair"></span>
              <span class="text-white">
                <h2><b> Vehicle Repair Centers in YGN, MDY & NPT</b></h2>
              </span>
            </div>
          </div>

          <div class="col-sm-6 col-lg-6 py-3">
            <div class="left-about d-flex align-items-center justify-content-center" style="">
              <span> <img src={%static "img/trading_distributor.png"%} alt="trading_distributor"></span>
              <span class="text-white">
                <h2><b>
                    Distributor of Suzuki, Jetour & BYD</b></h2>
              </span>
            </div>
          </div>

          <div class="col-sm-6 col-lg-6 py-3">
            <div class="left-about d-flex align-items-center justify-content-center" style="">
              <span> <img src={%static "img/trading_trade-in.png"%} alt="trading_trade-in"></span>
              <span class="text-white">
                <h2><b>
                    Trade-in, import and selling of used cars</b></h2>
              </span>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->


  <!-- <div class="page-section container-fluid">
    <div class="container">
      <h1 class="text-center wow fadeInUp mb-4">Our Services</h1>

        <div class=" row wow zoomIn">

            <div class="agriculture col-12 col-md-6">
              <div class=" d-flex justify-content-start align-items-center">
                  <img src="../img/trading_storage.jpeg" class="agriculture-img" alt="Storage">
                  <h2 class="px-3" style="font-size: large;">Storage</h2>
              </div>
            </div>

              <div class="agriculture col-12 col-md-6">
              <div class="d-flex justify-content-start align-items-center">
                  <img src="../img/trading_storage.jpeg" class="agriculture-img" alt="">
                  <h2 class="px-3" style="font-size: large;">Cross-Border and Port Services</h2>
                </div>
              </div>

              <div class=" agriculture col-12 col-md-6">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="../img/trading_storage.jpeg" class="agriculture-img" alt="">
                    <h2 class="px-3" style="font-size: large;">Cross-Border and Port Services</h2>
                  </div>
                </div>

                <div class=" agriculture col-12 col-md-6">
                  <div class="d-flex justify-content-start align-items-center">
                      <img src="../img/trading_storage.jpeg" class="agriculture-img" alt="">
                      <h2 class="px-3" style="font-size: large;">Cross-Border and Port Services</h2>
                    </div>
                  </div>

            </div>
              </div>
            </div> -->

<div class="container-fluid">
  <div class="container">
    <h1 class="text-center m-5"><b>Our Services</b></h1>
  <div class="row py-3">

    <div class="col-sm-6 p-4">
      <div class="agriculture d-flex justify-content-start align-items-center">
        <img src={%static "img/trading_storage.jpeg"%} class="agriculture-img" alt="Storage">
        <h2 class="px-3 text-uppercase">Storage</h2>
      </div>
    </div>

    <div class="col-sm-6 p-4">
      <div class="agriculture d-flex justify-content-start align-items-center">
        <img src={%static "img/trading_farmingjpeg.jpeg"%} class="agriculture-img" alt="Farming">
        <h2 class="px-3 text-uppercase">Trading Farming</h2>
      </div>
    </div>

    <div class="col-sm-6 p-4">
      <div class="agriculture d-flex justify-content-start align-items-center">
        <img src={%static "img/trading_rice-milling.jpeg"%} class="agriculture-img" alt="rice_milling">
        <h2 class="px-3 text-uppercase">Rice Milling </h2>
      </div>
    </div>

    <div class="col-sm-6 p-4">
      <div class="agriculture d-flex justify-content-start align-items-center">
        <img src={%static "img/trading_export-distribution.jpeg"%} class="agriculture-img" alt="export_distribution">
        <h2 class="px-3 text-uppercase">Export & Distribution </h2>
      </div>
    </div>

  </div>
</div>
</div>

  <div class="page-section construction">
    <div class="container">
      <h1 class="text-center text-white wow fadeInUp mb-4">United Group Construction</h1>
      <div class="row justify-content-center">


        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission ">
            <div class="header p-3 m-2">
              <img src={%static "img/trading_construction-1.jpeg"%} alt="trading_construction-1">

            </div>
            <div class="body body-p">
              <p class="text-xl mb-4">With much experience in the field, United Group’s construction has a positive
                impact on government construction, gaining a leading name in the sector.</p>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission">
            <div class="header p-3 m-2">
              <img src={%static "img/trading_construction-2.jpeg"%} alt="trading_construction-2">

            </div>
            <div class="body body-p">
              <p class="text-xl mb-4">AUnited Group also pursues excellence in the private property construction
                economy, creating condominium projects and housing ones alike.</p>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 py-3 wow zoomIn">
          <div class="card-mission ">
            <div class="header p-3 m-2">
              <img src={%static "img/trading_construction-3.jpeg"%} alt="trading_construction-3">

            </div>
            <div class="body body-p">
              <p class="text-xl mb-4">With much experience in the field, United Group’s construction has a positive
                impact on government construction, gaining a leading name in the sector.</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}