{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


  <div class="page-banner overlay-dark bg-image" style="background-image: url(/static/img/int\'l_remittance.jpeg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <h1 class="text-uppercase">Wakhema Money Changer</h1>
        <p>Quality exchange service</p>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  

  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp mb-4">Our Story</h1>

      <div class="service-bg wow zoomIn">
        <div class="row  d-flex justify-content-center align-items-center ">

          <div class="col-12 col-lg-6 col-md-12 service-align-right" >
            <p> <i class="fas fa-arrow-circle-right"></i> Wakhema Co., Ltd. was established in 2009.</p>
            <p> <i class="fas fa-arrow-circle-right"></i> The company evolved from exporting rice to exporting numerous agricultural products from Myanmar.</p>
            <p> <i class="fas fa-arrow-circle-right"></i> The company then started as Wakhema Money Changer in 2012. The company is still operating as an official money changer in Myanmar.</p>
            <p> <i class="fas fa-arrow-circle-right"></i> The trading company has now grown into a fully active and complex network of trading and distribution, striving for excellence and quality in maintaining and transporting goods.</p>
          </div>

          <div class="col-12 col-lg-6 col-md-12">
            <img src={%static "img/warkhema-1.jpeg"%} class="remittance-img" alt="Wakhema-OurStory-1">
          </div>
        </div>
      </div>

      <div class="service-bg wow zoomIn">
        <div class="row  d-flex justify-content-center align-items-center ">
          <div class="col-12 col-lg-6 col-md-12">

            <img src={%static "img/warkhema-2.jpeg"%} class="remittance-img" alt="">
          </div>

          <div class="col-12 col-lg-6 col-md-12 service-align-left">
            <h2 style="font-weight: bolder;">Wakhema Money Changer</h2>
            <p> <i class="fas fa-arrow-circle-right"></i> Since 2012, Wakhema Money Changer has been acting as an excellent currency exchange service in Myanmar.</p>
            <p> <i class="fas fa-arrow-circle-right"></i> We prioritize quality of service over quantity of exchange.</p>
            <p> <i class="fas fa-arrow-circle-right"></i> With counter branches to ensure coverage of service, Wakhema Money Changer is a well-known Currency Exchange service in Myanmar.</p>
          </div>

         
        </div>
      </div>
    </div>
  </div>

<section class="container-fluid " style="background-image: url(/static/img/remittance_country.png);">
    
  
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h1 class="text-center text-white remittance-h wow fadeInUp mb-4" style="font-weight: bolder;">Remittance Countries</h1>
          <div class="row justify-content-center">

                
                <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                  <div class="card-choose country">
                    <div class="body">
                      <h1 class="mb-3">China</h1>
                      <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                      
                    </div>
                  </div>
                </div>
        
                <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                  <div class="card-choose country">
                    <div class="body">
                      <h1 class="mb-3" >India</h1>
                      <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                      
                    </div>
                  </div>
                </div>
        
                <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                  <div class="card-choose country">
                    <div class="body">
                      <h1 class="mb-3" >Malaysia</h1>
                      <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                       </div>
                  </div>
                </div>
              </div>


              <div class="row justify-content-center">

                
                <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                  <div class="card-choose country">
                    <div class="body">
                      <h1 class="mb-3" >South-Korea</h1>
                      <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                      
                    </div>
                  </div>
                </div>
        
                <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                  <div class="card-choose country">
                    <div class="body">
                      <h1 class="mb-3" >Taiwan</h1>
                      <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                      
                    </div>
                  </div>
                </div>
        
                <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                  <div class="card-choose country">
                    <div class="body">
                      <h1 class="mb-3"  class="text-">Thailand - 1</h1>
                      <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                      </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-start remittance-btm">

                
                <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                  <div class="card-choose country">
                    <div class="body">
                      <h1 class="mb-3" >Thailand - 2</h1>
                      <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                       
                    </div>
                  </div>
                </div>
              </div>
       
    </div>
  </div>
</section>



{% endblock %}