{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


  <div class="page-banner overlay-dark bg-image" style="background-image: url(/static/img/int\'l_remittance.jpeg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <h1 class="text-uppercase">Wakhema International Remittance</h1>
        <p>The service that brings your money safely</p>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  

  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp mb-4">Our Story</h1>

      <div class="service-bg wow zoomIn">
        <div class="row  d-flex justify-content-center align-items-center ">

          <div class="col-12 col-lg-6 col-md-12 service-align-right" >
            <p> <i class="fas fa-arrow-circle-right"></i> Wakhema Co., Ltd. was established in 2009.</p>
            <p> <i class="fas fa-arrow-circle-right"></i> The company branched out into financial services, earning a name for itself in the industry.</p>
            <p> <i class="fas fa-arrow-circle-right"></i> Being a licenced entity both for money changing business and the remittance industry, the company offers a solution for fast service for financial conducts domestically and internationally.</p>
            <p> <i class="fas fa-arrow-circle-right"></i> With over 200 employees, we offer quality service to our customers in swift manner.</p>
          </div>

          <div class="col-12 col-lg-6 col-md-12">
            <img src={%static "img/warkhema-1.jpeg"%} class="remittance-img" alt="Wakhema-OurStory-1">
          </div>
        </div>
      </div>

         
        </div>
      </div>
    </div>
  </div>

  <section class="container-fluid " style="background-image: url(/static/img/remittance_country.png);">
    
  
    <div class="container">
      <div class="row">
        <div class="col-12">
            <h1 class="text-center text-white remittance-h wow fadeInUp mb-4" style="font-weight: bolder;">Remittance Countries</h1>
            <div class="row justify-content-center">
  
                  
                  <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                    <div class="card-choose country">
                      <div class="body">
                        <h1 class="mb-3" >China</h1>
                        <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                        
                      </div>
                    </div>
                  </div>
          
                  <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                    <div class="card-choose country">
                      <div class="body">
                        <h1 class="mb-3" >India</h1>
                        <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                        
                      </div>
                    </div>
                  </div>
          
                  <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                    <div class="card-choose country">
                      <div class="body">
                        <h1 class="mb-3" >Malaysia</h1>
                        <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                         </div>
                    </div>
                  </div>
                </div>
  
  
                <div class="row justify-content-center">
  
                  
                  <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                    <div class="card-choose country">
                      <div class="body">
                        <h1 class="mb-3" >South-Korea</h1>
                        <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                        
                      </div>
                    </div>
                  </div>
          
                  <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                    <div class="card-choose country">
                      <div class="body">
                        <h1 class="mb-3" >Taiwan</h1>
                        <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                        
                      </div>
                    </div>
                  </div>
          
                  <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                    <div class="card-choose country">
                      <div class="body">
                        <h1 class="mb-3"  class="text-">Thailand - 1</h1>
                        <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                        </div>
                    </div>
                  </div>
                </div>
  
                <div class="row justify-content-start remittance-btm">
  
                  
                  <div class="col-md-6 col-lg-4 py-1 wow zoomIn">
                    <div class="card-choose country">
                      <div class="body">
                        <h1 class="mb-3" >Thailand - 2</h1>
                        <p class="text-xl mb-0"> <a class="btn-country" href="#">Detail</a></p>
                         
                      </div>
                    </div>
                  </div>
                </div>
         
      </div>
    </div>
  </section>

<div class="page-section">
  <div class="container">

    <div class="service-bg wow zoomIn">
      <div class="row  d-flex justify-content-center align-items-center " style="margin-right: 4px;">
        <div class="col-12 col-lg-6 col-md-12">
          <div align="center">
          <img src={%static "img/lisence.png"%} class="lisence-img" alt="lisence">
        </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12 justify-content-center" style="text-align: justify;" >
          <p> Now in 2020, Wakhema Co., Ltd. Is one of the five first companies to be granted official international remittance licenses in Myanmar.</p>
          <p> Thanks to our renowned service, accurate work procedures and valued business ethics, the Central Bank of Myanmar has now granted us the ability to provide remittance service internationally with Myanmar.</p>
          </div>

       
      </div>
    </div>

  </div>
</div>

 {% endblock %}